body{
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card{
    width: 500px;
    height: 230px;
    padding: 10px 50px;
    background: url('./assets/Background.png') ;
    margin: auto;
    margin-top: 10%;
}

a{
    text-decoration: none;
    color: black;
}

.instgram{
 list-style-image: url(./assets/instagram.png);
}

.facebook{
list-style-image: url(./assets/facebook.png);
}

.linkedin{
list-style-image: url(./assets/linkedin.png);
}

.gmail{
list-style-image: url(./assets/gmail.png);
}
